<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml" />
	<logger name="org.springframework.web" level="INFO"/>
	<logger name="org.springboot.sample" level="TRACE" />

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</pattern>
			<charset>UTF-8</charset> <!-- 此处设置字符集 -->
		</encoder>
	</appender>
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!--<file>d:/tmp/logs/stdout.log</file>-->
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">

			<!-- daily rollover 保存历史记录到这个文件夹一日起为后缀 -->
			<fileNamePattern>logs/log_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
			<maxFileSize>100MB</maxFileSize>
		</rollingPolicy>
	<!-- 	<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>100MB</maxFileSize>
		</triggeringPolicy> -->
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</pattern>
			<charset>UTF-8</charset> <!-- 此处设置字符集 -->
		</encoder>
	</appender>

	<!-- 开发、测试环境 -->
	<springProfile name="dev,test">


		<logger name="org.springframework.web" level="INFO"/>
		<logger name="org.springboot.sample" level="INFO" />
		<logger name="com.tr" level="DEBUG" />
		<root level="INFO">
			  <appender-ref ref="CONSOLE"></appender-ref>  
			<appender-ref ref="FILE"></appender-ref>
		</root>
	</springProfile>

	<!-- 生产环境 -->
	<springProfile name="prod">

		<logger name="org.springframework.web" level="ERROR"/>
		<logger name="org.springboot.sample" level="ERROR" />
		<logger name="com.tr" level="INFO" />
		<root level="INFO">
			<appender-ref ref="FILE"></appender-ref>
		</root>
	</springProfile>

</configuration>
